@import "../comonents/Home/home";
@import "../comonents/AboutUs/aboutUs";
@import "../comonents/Wallet/wallet";
@import "../comonents/Content/content";
@import "../comonents/TabsHeader/tabs-header";
@import "../comonents/Tabs/tabs";
@import "../comonents/List/list";
@import "../comonents/ListItem/list-item";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

#root {
  background-color: #f8f8f9;
  min-height: 100vh;
  display: block;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  height: 100vh;
}

//   .App-logo {
//     height: 40vmin;s
//     pointer-events: none;
//   }

//   @media (prefers-reduced-motion: no-preference) {
//     .App-logo {
//       animation: App-logo-spin infinite 20s linear;
//     }
//   }

//   .App-header {
//     background-color: #282c34;
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     font-size: calc(10px + 2vmin);
//     color: white;
//   }

//   .App-link {
//     color: #61dafb;
//   }

//   @keyframes App-logo-spin {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(360deg);
//     }
//   }
