.home {
  height: 100%;
  display: flex;

  &__aboutUs {
    width: 28%;
  }
  &__content {
    flex-basis: 44%;
    overflow: scroll;
    filter: drop-shadow(0px 4px 12px rgba(104, 118, 132, 0.1));
  }
  &__wallet {
    flex-basis: 28%;
  }
}
